@import url('https://fonts.googleapis.com/css2? family= Lagosta & family= Poppins:wght@300 & display=swap');
@import url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@300&family=Roboto+Mono:wght@300&family=Roboto:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    height: 80px;
    width: 100%;
    padding: 0 50px 0 100px;
    background-color: rgb(247, 91, 1);
    
}
nav .logo {
    color: white;
    font-size: 35px;
    font-weight: 900;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
nav ul li {
    margin: 0 5px;
}
nav ul li a {
    letter-spacing: 1px;
    font-weight: 800;
    color: white;
    transition: all 0.3s ease;
    text-decoration: none;
    padding: 8px 15px;
}
nav ul li a:hover {
    color: black;
    border-bottom: 1px solid black;
}
nav ul li a.ative {
    color: black;
    border-bottom: 1px solid black;
}
nav .menu-btn svg{
    cursor: pointer;
    display: none;
    color: white;
    border: 1px solid white;
    height: 30px;
}
nav .area-usuario a {
    text-decoration: none;
    border: 1px solid white;
    transition: all 03.s ease;
    color: white;
}
nav .area-usuario a:hover {
    color:black;
    border: 1px solid black;
}
.info {
    margin: 80px;
    height: 10cm;
}
.contentor {
    font-family: 'Poppins', sans-serif  ;
    text-align: center;


}
.contentor h1 {
    text-align: center;
}
.contentor div {
    display: inline-block;
}
.geo {
    padding: 50px;
    border: 1px solid rgb(247, 91, 1);
}
.contentor svg {
    margin: 5px;
}

.formulario {
    margin: 60px;
}
.formulario textarea {
    width: 420px;
    padding: 7px 7px;
}
.formulario input {
    padding: 7px 7px;
    font-size: 12pt;
    font-family: 'Poppins', sans-serif;
}
.formulario button {
    padding: 7px 7px;
    width: 420px;
    border: 0;
    background-color: rgb(247, 91, 1);
    font-family: 'Poppins', sans-serif;
    color: white;
}
.rodape {
    background-color: rgb(16, 26, 71);
    width: 100%;    
    font-family: 'Poppins', sans-serif;
    color: rgb(126, 121, 121);
    text-align: center;
    height: 7cm;
}
.rodape p {
    display: inline-block;
    margin: 5px;

}
.rodape svg {
    margin: 5px;
    color: rgb(247, 91, 1);
}
.rodape svg#facebook:hover  {
    color: rgb(30, 45, 255);
}
.rodape svg#instagram:hover {
    color: purple;
}
.rodape svg#twiter:hover {
    color: dodgerblue;
}
.rodape svg#youtube:hover  {
    color: red;
}
.rodape svg#tiktok:hover  {
    color: black;
}
.rodape svg:hover {
    cursor: pointer;
}
.rodape button {
    background-color: rgb(16, 26, 71);
    border: 1px solid rgb(247, 91, 1);
    padding: 7px 7px;
    color: rgb(247, 91, 1);
    transition: all 0.3s ease;
}
.rodape button:hover {
    cursor: pointer;
    background-color:rgb(247, 91, 1);
    color: white;
}
@media screen and (max-width: 920px) {
    nav .menu-btn svg{
        display: block;
        color: white;
        font-weight: 800;
        border: 1px solid white;
        height: 30px;
    }
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: rgb(16, 26, 71);
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    nav ul.open{
        left: 0;
    }
    nav ul li{
        width: 100%;
        margin: 50px 0;
    }
    nav ul li a {
        font-size: 23px;
    }
    .formulario input {
        margin: 5px;
    }
    .formulario textarea {
        margin: 5px;
        width: 300px;
    }
    .formulario button {
        width: 300px;
    }
    .rodape {
        height: 9cm;
    }
    
  
}
@media screen and (max-width:280px) {
    nav .menu-btn svg{
        display: block;
        color: white;
        font-weight: 800;
        border: 1px solid white;
        height: 30px;
        width: 30px;
    }
    nav .logo h1{
        font-size: 20px;
        left: left;
        text-align: left;
    }
    nav ul li a {
        font-size: 13px;
        text-align: center;
    }
    .formulario {
        text-align: left;
    }
    .formulario input {
        margin: 5px;
        width: 200px;
    }
    .formulario textarea {
        margin: 5px;
        width: 200px;
    }
    .formulario button {
        width: 200px;
    }
}